<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              12/03/2019 - High Blood Pressure
          </button>
        </h2>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" >
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="appointmentId">Appointment ID</label>
                <input type="text" class="form-control"
                        id="appointmentId" readonly="true" value="A123"/>
              </div>

            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="doctorName">Doctor Name</label>
                <input type="text" class="form-control"
                        id="doctorName" readonly="true" value="Dr. A.B. Dutta"/>
              </div>
              <div class="form-group col-md-4">
                <label for="doctorContact">Doctor Contact</label>
                <input type="text" class="form-control"
                        id="doctorContact" readonly="true" value="1122567890"/>
              </div>
              <div class="form-group col-md-4">
                <label for="doctorAddress">Doctor Address</label>
                <input type="text" class="form-control"
                        id="doctorAddress" readonly="true" value="80, MG Road, Bangalore - 560068"/>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <button class="btn btn-link">Download Prescription</button>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <button class="btn btn-link">Download Lab Reports</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              25/10/2018 - Diabetes
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="appointmentId">Appointment ID</label>
                <input type="text" class="form-control"
                        id="appointmentId" readonly="true" value="A124"/>
              </div>

            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="doctorName">Doctor Name</label>
                <input type="text" class="form-control"
                        id="doctorName" readonly="true" value="Dr. Anup Tripathi"/>
              </div>
              <div class="form-group col-md-4">
                <label for="doctorContact">Doctor Contact</label>
                <input type="text" class="form-control"
                        id="doctorContact" readonly="true" value="3412567890"/>
              </div>
              <div class="form-group col-md-4">
                <label for="doctorAddress">Doctor Address</label>
                <input type="text" class="form-control"
                        id="doctorAddress" readonly="true" value="56, MG Road, Bangalore - 560068"/>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <button class="btn btn-link">Download Prescription</button>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <button class="btn btn-link">Download Lab Reports</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              09/04/2018 - Diabetes
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
        <div class="card-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="appointmentId">Appointment ID</label>
                <input type="text" class="form-control"
                        id="appointmentId" readonly="true" value="A125"/>
              </div>

            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="doctorName">Doctor Name</label>
                <input type="text" class="form-control"
                        id="doctorName" readonly="true" value="Dr. A.B. Dutta"/>
              </div>
              <div class="form-group col-md-4">
                <label for="doctorContact">Doctor Contact</label>
                <input type="text" class="form-control"
                        id="doctorContact" readonly="true" value="1122567890"/>
              </div>
              <div class="form-group col-md-4">
                <label for="doctorAddress">Doctor Address</label>
                <input type="text" class="form-control"
                        id="doctorAddress" readonly="true" value="80, MG Road, Bangalore - 560068"/>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <button class="btn btn-link">Download Prescription</button>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-4">
                <button class="btn btn-link">Download Lab Reports</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
