<div class="container">
  <legend><h2><b>Appointments</b></h2></legend>
  <br>
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Appointment ID</th>
        <th scope="col">User ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Appointment Date</th>
        <th scope="col">Appointment Time</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let appointment of appointmentList" (click)="onAppointmentSelection(appointment)">
        <td>{{ appointment.appointmentID }}</td>
        <td>{{ appointment.userID }}</td>
        <td>{{ appointment.userName }}</td>
        <td>{{ appointment.appointmentDate }}</td>
        <td>{{ appointment.appointmentTime }}</td>
        <td><button type="button" [routerLink]="['/doctor/process-appointment']" class="btn btn-success"
          (click)=onClickSelected(appointment)>Process</button>&nbsp;
          <button type="button"  class="btn btn-danger">Cancel</button></td>
      </tr>
    </tbody>
  </table>
</div>
