<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <a class="navbar-brand" href="#">Global Inclusive Health</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownUsers"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Appointments
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
          <a class="dropdown-item"
            [routerLink]="['/user/appointments']"
            routerLinkActive="router-link-active" >Scheduled Appointments</a>
          <a class="dropdown-item"
              routerLink="/user/book-appointment"
              routerLinkActive="router-link-active" >Book New Appointment</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownUsers"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Medical History
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownUsers">
          <a class="dropdown-item"
              routerLink="/user/medical-history"
              routerLinkActive="router-link-active" >Show Medical History</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<br>
