<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Global Inclusive Health</h1>
    <br /><br /><br /><br />
    <div class="row">
      <div class="col-sm">
        <div class="card text-center">
          <div class="card-header">NGO Module</div>
          <div class="card-body">
            <button
              class="btn btn-success"
              [routerLink]="['/ngo/ngo-home']"
              routerLinkActive="router-link-active">
              Go to NGO Module
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center">
          <div class="card-header">Doctors Module</div>
          <div class="card-body">
            <button
              class="btn btn-success"
              [routerLink]="['/doctor/home']"
              routerLinkActive="router-link-active">
              Go to Doctors Module
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card text-center">
          <div class="card-header">Users Module</div>
          <div class="card-body">
            <button
              class="btn btn-success"
              [routerLink]="['/user/home']"
              routerLinkActive="router-link-active">Go to Users Module</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
